pandas~=2.3.3
ware-ops-algos @ git+https://github.com/kit-dsm/ware_ops_algos.git@f0bdbf0dd44a534fa256c631303ba1243fed98fb
cls-luigi==0.1.1
cls-python==0.1.4
luigi==3.6.0
jupyter
orjson
tqdm
seaborn
jinja2
lxml
pyarrow
